<div class="relative min-h-screen w-full">

  <div class="absolute inset-0 z-0">
    <img
      src="https://images.squarespace-cdn.com/content/v1/5eb5911162bd4c575af0b09b/1589476044064-17VSXTVIGY3GKV44TLRT/GettyImages-960962986.jpg"
      alt="Fondo de escritorio"
      class="h-full w-full object-cover">
    <div class="absolute inset-0 bg-gray-900 bg-opacity-85"></div>
  </div>
  <div class="relative z-10 flex min-h-screen flex-col p-12 md:p-16 lg:p-24">

    <header>
      <a href="#" class="flex items-center space-x-3 text-2xl text-white">

        <img src="assets/logo.png" alt="EasyHouse Logo" class="h-20 w-20">

        <span><span class="font-bold">Easy</span><span class="font-bold text-blue-400">House</span></span>
      </a>
    </header>

    <main class="flex-grow flex items-center">
      <router-outlet></router-outlet>
    </main>

    <footer class="absolute bottom-8 right-8 md:bottom-12 md:right-12">

      <img src="assets/logo.png" alt="EasyHouse Logo" class="h-40 w-40 opacity-75">

    </footer>
  </div>
</div>
