<div class="flex h-screen w-full bg-gray-50 overflow-hidden">
  <app-sidebar [isOpen]="isSidebarOpen()"></app-sidebar>
  <div class="flex flex-col flex-1 h-full transition-all duration-300 ease-in-out"
       [class.ml-80]="isSidebarOpen()"
       [class.ml-24]="!isSidebarOpen()">
    <app-header
      [title]="currentTitle()"
      (toggleSidebar)="toggleSidebar()">
    </app-header>
    <main class="flex-1 overflow-y-auto p-8">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>
